
/* ==========================================================================
   Base styles:
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    background-color: #44464A;
}

.tw
{
    font-family: 'smalltypewritingregular';
    line-height: 1.0em;
}
/**
@font-face {
  font-family: 'GrowlyGrin';
  src: url('../fonts/Growly_Grin.ttf')  format('truetype')
}
**/



@font-face {
    font-family: 'growly_grinregular';  
    src: url('../fonts/growly_grin.eot');   
    src: url('../fonts/growly_grin.eot?#iefix') format('embedded-opentype'),        
    url('../fonts/growly_grin.woff2') format('woff2'),   
    url('../fonts/growly_grin.woff') format('woff'),        
    url('../fonts/growly_grin.ttf') format('truetype'),       
    url('../fonts/growly_grin.svg#growly_grinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
@font-face {
  font-family: 'SmallTypeWriting';
  src: url('../fonts/body/SmallTypeWriting.ttf')  format('truetype')
}
**/

@font-face {
    font-family: 'smalltypewritingregular';
    src: url('../fonts/body/smalltypewriting.eot');
    src: url('../fonts/body/smalltypewriting.eot?#iefix') format('embedded-opentype'),
    url('../fonts/body/smalltypewriting.woff2') format('woff2'),
    url('../fonts/body/smalltypewriting.woff') format('woff'),
    url('../fonts/body/smalltypewriting.ttf') format('truetype'),
    url('../fonts/body/smalltypewriting.svg#smalltypewritingregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gg
{
    font-family: 'growly_grinregular';
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 0.5em auto;
    padding: 0;
    width:80%;
    text-align: center;
}

img {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a
{
    color:inherit;
    text-decoration:none;
    outline: 0;
}

a img
{
    outline:0;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.btn-wrap
{
    width:200px;
    height:auto;
    margin:50px auto 10px auto;
}

.btn-scroll
{
    padding:10px 40px;
    text-decoration:none;
    color:#fff;
    background-color: #d75c4d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.76);
}

.btn-scroll:hover
{
    background-color: #A52B1C;
    
}

.btn-menu
{
    padding:10px 25px;
    text-decoration:none;
    color:#fff;
    background-color: #d75c4d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.76);
}

.btn-menu:hover
{
    background-color: #A52B1C;   
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.logo-mob
{
    width:150px;
    height:61px;
    display:none;
    position:absolute;
}

.logo-mob img
{
    width:100%;
    margin-top:19px;
    margin-left:10px;
}

.navigation-wrap
{
    height:100px;
    width:100%;
    background-color:#36353B;
    color: #FFF;
    position: relative;
    border-bottom: 1px solid #2C2C2C;
    z-index:1000;
    -webkit-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
}

.navigation-inner
{
    width:1200px;
    height:100px;
    margin:0px auto;
    position:relative;
}

.logo 
{
    width: 200px;
    height: 315px;
    margin: 0px;
    position: absolute;
}

.logo a img
{
    -webkit-transition: all 0.7s ease-in-out;
       -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
         -o-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
}

.logo a:hover > img
{
    margin-top:-70px;
}

.logo img 
{
    width: 200px;
    position: absolute;
}

.desktop-phone
{
    width: 260px;
    height: 30px;
    position: absolute;
    top: 41px;
    right: 96px;
    font-size: 1.5em;
    text-align: center;
}

.mobile-navigation
{
    width:80px;
    height:30px;
    display: none;
    position: absolute;
    right:20px;
    top:40px;
}

.mobile-navigation-wrap
{
    width:100%;
    height: auto;
    background:#fff;
    display: none;
}

.mobile-navigation-list
{
    padding:0px;
    margin:0px;
    text-align:center;
}

.mobile-navigation-list li
{
    border-bottom:1px solid #eee;
    padding:20px 0px;
    font-size:1.6em;
    background-color: #d75c4d;
    color:#fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.76);
    cursor: pointer;
}

.mobile-navigation-list li:hover
{
    background-color: #A52B1C;
}

.social-links
{
    position:absolute;
    width:284px;
    height:50px;
    right:13px;
    top:10px;
}

.social-links ul 
{
    list-style-type: none;
}

.social-links ul li 
{
    display:inline;
    margin-right:0px;
    margin: 0px;
    padding:0px;
}


.underline-wrap
{
    width:416px;
    height:28px;
    margin:4px auto;
}

.underline
{
    /*position: absolute;
    right: 3px;
    top: 35px;*/
    width:416px;
    height:28px;
}
.d-nav
{
    padding-top:15px;
}

.desktop-navigation
{
    width: 442px;
    height: 30px;
    list-style-type: none;
   /* position: absolute;
    right: 0px;
    top: -18px;*/
    margin:0 auto;
}

.desktop-navigation li 
{
    display: inline-block;
    font-size:2.0em;
    margin-right:14px;
}

.desktop-navigation li a:hover
{
    color:#d75c4d;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.76);
}

.main-image-wrap
{
    background-image: url('../img/deer-background.jpg');
    height: 900px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-image-content-wrap
{
    width:100%;
    height:auto;
    padding-top:60px; 
}

.main-image-content-inner
{
    width:700px;
    min-height:500px;
    margin:0px auto;
    background-image: url('../img/black-trans.png');
    background-repeat: repeat;
}

.main-image-content-text
{
    padding:20px;
    color:#fff;
}

.video-wrap
{
    -webkit-box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
    box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
    width:1200px;
    height:400px;
    margin:0 auto;
}

.video-wrap-inner
{
    width:100%;
    height:400px;
    padding-top:0px;
}

.youtube-video
{
    width:100%;
    height:400px;
    max-width: 100%;
    margin:0 auto;
}

.title-wrap
{
    width:100%;
    height:auto;
    margin-top:10px;
}

.title-inner
{
    background-image: url("../img/black-trans.png");
    background-repeat: repeat;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
    text-align:center;
    color:#fff;
    
}

.title-inner p 
{
    font-size: 3.0em;
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    color: #FFF;
    text-shadow: 1px 1px 0px #151515;
    text-align: center;
    text-transform: uppercase;
}

.introduction-wrap
{
    width:100%;
    min-height:100px;
    background: #d75c4d none repeat scroll 0% 0%;
    background-image: url('../img/brick.jpg');
    background-repeat: repeat-x;
}

.introduction-inner
{
    width:1200px;
    height: auto;
    margin:0 auto;
}

.introduction-image
{
    width:300px;
    height: auto;
    padding: 7px;
    background-color: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
    max-width:300px;
    margin: 0 auto;
}

.introduction-block-wrap
{
    width:1200px;
    height:auto;
    margin:0px auto;
}

.trans-bg
{
    background-image:url('../img/black-trans.png');
    background-repeat:repeat;
}

.colour-bg
{
    padding:10px;
    background-color: #36353B;
    color:#fff;
    border-radius: 5px;
}

.underline-wrap-small
{
    width: 100%;
    height: auto;
}

.underline-small{
    width:inherit;
    height: inherit;
    
}

.large-paragraph
{
    font-size:1.2em;
}

.block
{
    width:49%;
    width:49.555555%;
    height: auto;
    float:left;
}

.block-padding
{
    padding:20px;
}

.opening-times 
{
    width: 100%;
    background-image: url("../img/chalkboard.jpg");
    overflow: hidden;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.opening-times-inner 
{
    padding: 20px 10px;
}

.opening-times-inner .first 
{
    letter-spacing: 2px;
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
    border-bottom: 1px solid #FFF;
    text-shadow: 1px 1px 0px #151515;
}

.opening-times-inner .second 
{
    letter-spacing: 2px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
}
.magicwall
{
    min-height:600px;
    position:relative;
    z-index: 2;
    margin-bottom:0px !important;
}

.menu-text
{
    background-color:#EDEAE3; 
    color:#000; 
    width:100%; 
    min-height: 100px;
    margin-bottom:40px;
}

.menu-wrap
{
    height:auto;
    width:100%;
    background-color:#000;
    color: #FFF;
    position: relative;
    box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
    background-image:url('../img/wood_background.jpg');
   /* background-position: center top;
    background-repeat: no-repeat;*/
    -webkit-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    background-repeat:repeat-x;
}

.menu-inner
{
    width:1200px;
    height:auto;
    margin:0px auto;
}

.menu-img-wrap
{
    width:500px;
    height:auto;
    margin:0px auto;
}

.menu-img
{
    width:100%;
    height:auto;
    margin:0px auto 20px auto;
}

.where-are-we-wrap
{
    width:100%;
    height:auto;
    min-height: 100px;
    background-color:#36353B;
    -webkit-box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
    box-shadow: 0px -8px 12px -5px rgba(0,0,0,0.6);
}

.where-are-we-inner
{
    width:1200px;
    min-height:300px;
    margin:0 auto ;
}

.where-are-we-inner .title-wrap
{
    margin-top:0px;
    padding-top:10px;
}

.jobs-wrap
{
    width:100%;
    height:auto;
    -webkit-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 9px 12px -5px rgba(0,0,0,0.6);
    background-image:url('../img/wood_background.jpg');
}

.jobs-inner
{
    width:1200px;
    height:auto;
    min-height:100px;
    margin:0 auto;
}

.jobs-inner > .title-wrap  { margin-top: 0px !important; }

.jobs-text
{
    width:100%;
    height: 100%;
    margin:0px auto;
    background-image: url('../img/black-trans.png');
    background-repeat: repeat;
    color:#eee;
    z-index: 10000;
    position: absolute;
}

.jobs-text-inner
{
    width:500px;
    height: auto;
    margin:100px auto;
    text-align:center;
 
    text-shadow: 1px 0px black;
}

.jobs-text-inner p 
{
       font-size: 1.4em;
       line-height: 1.0em;
}


.takeaway-outer
{
    width:100%;
    height: auto;
}

.takeaway-inner
{
    width:100%;
    min-height:20px;
    padding-top:100px;
    
}

.takeaway-inner-text
{
    width:960px;
    height: auto;
    min-height: 50px;
    background-color:#EDEAE3;
    margin:10px auto;
    text-align:center;
    font-size:2.0em;
}

.takeaway-inner-text div 
{
    padding:10px;
}

.takeaway-list
{
    font-size:0.75em; 
    width:800px; 
    margin:0px auto; 
    margin-top:2px; 
    list-style-type:none; 
    text-align:left;
}




.secondary-image-wrap
{
    background-image: url('../img/burger.jpg');
    min-height:500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:100px;
}

.third-image-wrap
{
    //background-image: url('../img/outside.jpg');
    background-image:url('../img/wood_background.jpg');
    min-height: 350px;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer-wrapper
{
    width:100%;
    height: auto;
    min-height:100px;
    background-color:#36353B;
    color: #FFF;
    position: relative;
    border-top: 1px solid #A19B9B;
}

.footer-icon{
    width:200px;
    height:auto;
    margin: 10px auto;
}

.footer-icon img{
    width:100%;}


.mobile-phone{
        width:100%;
        text-align:center;
        background-color:#eee;
        font-size: 1.6em;
        display: none;
    }
    
    .mobile-phone-inner{
        padding:1px;
    }

.full-width
{
    width:100%;
    display:block;
    height:auto;
}

.full-width ul li
{
    margin-bottom:10px;
}

.left
{
    float:left;
    width:66.666666%
        
}

.right
{
    float:right;
    width:33.333333%;
}

.right
{
    text-align: center;
}


.menu-block
{
    width:100%;
    height:50px;
    background:#333;
    border-top:1px solid #111;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 2.0em;
    cursor:pointer;
}

.menu-block p
{
    margin: 2px;
}

.menu-content
{
    background-color:#EDEAE3;
    padding:10px 20px;
    display: none;
}

.menu-content td
{
    
}

.price-padding
{
    padding-top:40px;
}

.takeaway-title
{
    font-size:1.8em; 
    margin:5px;
}

a .menu-block
{
        -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-shadow: 1px 1px #000;
}

a .menu-block:hover
{
    color:#d75c4d;
}


.center{
    text-align: center;
}

.menu-height{
    height: 50px;
}

.menu-border
{
    border-bottom: 1px solid #333;
}

.menu-salads
{
    width:220px;
    height:auto;
    margin:20px auto 20px auto;
}

.menu-kids
{
    width:320px;
    height:auto;
    margin:20px auto 20px auto;
}

.menu-fish
{
    width:320px;
    height:auto;
    margin:10px auto 20px auto;
}

.menu-peri-chicken
{
    width:320px;
    height:auto;
    margin:20px auto 40px auto;
}

.menu-burgers
{
    width:320px;
    height:auto;
    margin:20px auto 40px auto;
}

.menu-wraps
{
    width:320px;
    height:auto;
    margin:20px auto 20px auto;
}

.menu-steaks{
    width:320px;
    height:auto;
    margin:20px auto 20px auto;
}

.menu-sides{
    width:320px;
    height:auto;
    margin:20px auto 20px auto;
}

#contact-area{
    padding-top:10px;
    padding-bottom: 20px;
}

.contact-form{
    width:960px;
    height: auto;
    margin:10px auto;
    font-size:1.0em;
}


.pt-contact{
    margin-top:20px;
    padding:20px;
    background-color:#EDEAE3;
}

.pt-contact label
{
    font-size:1.2em;
    font-weight:bold;
    padding-bottom:5px;
}

form {
    margin:0;
        padding:20px;
    background-color:#36353B;
}
form label {
    margin-bottom:1.0em;
    font-size:1.2em;
    color:#e6e6e1;
    text-shadow:0px -1px #202020;
}
form label.error {
    margin-bottom:1em;
    font-size:1.2em;
    line-height:12px;
    color:#fff;
    width:100%;
    float: right;
    text-align:center;
}
form input[type="text"], form textarea, form select {
    margin-bottom:1.25em;
    font-family:"Inconsolata", sans-serif;
    font-size:1.4rem;
    line-height:1.4rem;
    font-size:14px;
    line-height:14px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background:#e6e6e6;
    border:1px solid #191919;
    -moz-border-radius:0.2em;
    -webkit-border-radius:0.2em;
    border-radius:0.2em;
        padding:12px 0px;
    width:100%;
}
form input[type="text"]:focus, form textarea:focus {
    border-color:#191919;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}
form input[type="text"][disabled], form textarea[disabled] {
    background:#fff
}
form input[type="text"].error, form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b
}
fieldset {
    border:0px;
    margin:0;
    padding:0
}
.required {
    color:#A52B1C;
}
#success, #error {
    display:none;
    width:100%;
    height:30px;
    text-align:center;
    
}
#success span, #error span {
    width:100%
}
#success span p, #error span p {
    margin-top:3em
}
#success span p {
  color:#fff;
  font-size: 1.6em;
}
#error span p {
  color:#fff;
  font-size:1.6em;
}

#submit
{
    width:100%;
    height:40px;
    background-color:#A52B1C;
    color:#fff;
    border:1px solid #fff;
}

.burger-menu-wrap
{
    padding:20px;
    background-color: #36353B;
    color:#fff;
}

.burger-menu-wrap tbody tr th.menu-border
{
    border-bottom: 1px solid #fff;
}

.prices-table{
    width: 100%;
    text-align:center;
    font-size:1.2em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */



    @media(max-width:1200px)
    {
        .navigation-inner
        {
            width:100%;
        }
        
        .introduction-inner
        {
            width:100% !important;
        }
        
        .introduction-block-wrap
        {
            width:100% !important;
        }
        
        .menu-inner
        {
            width:100% !important;
        }
     
        .where-are-we-inner
        {
            width:100%;
            height:auto;
        }
        
        .gmaps
        {
           
        }
        
        .jobs-inner
        {
            width:100% !important;
        }
        
        .jobs-text-inner
        {
            width:100% !important;
            font-size:1.0em;
        }
    }
    
    @media(max-width:960px)
    {
        hr
        {
            width:100%;
        }
        
        .logo
        {
            display:none;
        }
        
        .logo-mob
        {
            display: block;
        }
        
        .navigation-inner
        {
            width:100%;
        }
        
        .underline-wrap
        {
            margin: -6px auto;
        }
        
        .underline
        {
            width:316px;
            height:21px;
        }
        
        .desktop-navigation
        {
            margin: 15px auto 0px auto;
        }
        
        .desktop-navigation li 
        {
            font-size:1.4em;
        }
        
        .main-image-content-inner
        {
            width:100% !important;
        }
        
        
        .takeaway-inner
        {
            padding:0px;
        }
        
        .takeaway-inner-text
        {
            width:100%;
            height: auto;
            margin:0px;
        }
        
        .takeaway-list
        {
            width:100%;
            height: auto;
            padding:0px;
        }
        
        .takeaway-list li
        {
            margin-bottom:15px;
            line-height: 30px;
        }
        
        .secondary-image-wrap
        {
            height: auto;
        }
        
        .contact-form{
            width:100%;
        }
        
        
    }
 
    
    @media(max-width:749px)
    {
        .desktop-navigation
        {
            display: none;
        }
        
        .mobile-navigation
        {
            display: block;
        }
        
        .desktop-phone
        {
            display: none;
        }
        
        .social-links
        {
            display: none;
        }
        
        .underline
        {
            display: none;
        }
    }
    
    @media(max-width:480px)
    {
        .block
        {
            width:100% !important;
        }
        
        .where-are-we-inner iframe
        {
            width:250px !important;
            height:auto;
            margin:0px auto;
        }
        
        .menu-block
        {
            font-size: 1.4em;
            padding-top:10px;
            min-height: 15px !important;
        }
        
        .takeaway-title
        {
            font-size:1.2em; 
            margin:5px;
        }
        
        .takeaway-list {
            font-size: 0.55em;
            list-style-type: none;
            text-align: left;
        }
        
        .underline-wrap
        {
            display: none;
        }
        
        .block-padding
        {
            text-align:center;
        }
        
        .menu-salads
        {
            width:220px;
            height:auto;
            margin:20px auto 20px auto;
        }

        .menu-kids
        {
            width:250px;
            height:auto;
            margin:20px auto 20px auto;
        }

        .menu-fish
        {
            width:250px;
            height:auto;
            margin:10px auto 20px auto;
        }

        .menu-peri-chicken
        {
            width:250px;
            height:auto;
            margin:20px auto 40px auto;
        }

        .menu-burgers
        {
            width:250px;
            height:auto;
            margin:20px auto 20px auto;
        }

        .menu-wraps
        {
            width:250px;
            height:auto;
            margin:20px auto 20px auto;
        }
        
        .menu-steaks
        {
            width:250px;
            height:auto;
            margin:20px auto 20px auto;
        }
        
        .menu-sides
        {
            width:250px;
            height:auto;
            margin:20px auto 20px auto;
        }
        
        .mobile-phone
        {
            display: block;
        }
        
        .burger-menu-wrap{
            font-size: 0.65em;
        }
    }
    
    @media only screen and (max-device-width: 480px)
    {
        .main-image-wrap {
            height: auto !important;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-attachment: scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .third-image-wrap {
            display: none;
        }
        
        .mobile-phone
        {
            display: block;
        }
        
        
    }
    
    


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
